body{
	background-color: #e6e6e6;
	font-family: Helvetica;
	font-size: 17px;
	color: #666;
	margin: 0px;
	padding: 0px;
}
.wrapper{ 
	 width:1024px;
     margin: 0 auto;
     background:white;
     }
     
.header{padding:10px;background-color:#4D82CA;color:white}     

h1{
	text-align:center;
	font-size:20px;
	margin:0px;
}

.container{
	min-height:400px;
	border-top: 1px solid gray;
	padding: 50px;
	}
.center{margin-left:43%}

.footer{ text-align:center;border-top: 1px solid gray;padding:10px;background-color:#4D82CA;color:white }

.footer a {color:lavender;text-decoration:none;}